[submodule "vendor/Autoload"]
	path = vendor/Autoload
	url = git@github.com:versionable/Autoload.git
[submodule "vendor/Prospect"]
	path = vendor/Prospect
	url = git@github.com:versionable/Prospect.git
